@import 'variables';


// General

body{
	font-family: $paragraph;
	background-color: $bright;
	color: $purple;
	font-kerning: auto;
}

.wrapper{
	box-sizing: border-box;
  	max-width: 71rem;
  	margin: 0 auto;
}

ul{
	padding: 0;
}

li{
	list-style: none;
}

.inline.list{
	& li{
		display: inline-block;
	}
}

::selection, -moz-selection{
  color: $bright;
  background: $purple-dark;
}

// UI kit

.container-fluid{
	padding-right: 1.5rem;
  	padding-left: 1.5rem;
}

figure{
	margin: 0;
}

// Text

h1, h2, h3, h4, h5, h6{
	font-family: $heading;
	text-transform: uppercase;
	color: $purple;
	letter-spacing: .125rem;
}

a{
	color: inherit;
	&:hover{
		color: inherit;
	}
}

h1.giant{
	font-size: 2.027rem;
	line-height: 100%;
	letter-spacing: .3rem;
}

h2.giant{
	font-size: 2.027rem;
	line-height: 100%;
	letter-spacing: .3rem;
}

h3.giant{
	font-size: 2.027rem;
	letter-spacing: .2rem;
}

h1{
	font-size: 2.027rem;
	letter-spacing: .2rem;
}

h2{
	font-size: 1.602rem;
	letter-spacing: .175rem;
}

h3{
	font-size: 1.424rem;
}

h4{
	font-size: 1.266rem;
}

p.mid{
	font-size: 1.125rem;
}

p.base{
	font-size: 1rem;
}

p.small{
	font-size: .79rem;
}

// Buttons/links

.button{
	display: inline-block;
	font-family: $heading;
	text-transform: uppercase;
	&:hover{
		transition: $transition;
	}
}

.button.big{
	font-size: 1.424rem;
	letter-spacing: .15rem;
	padding: .5rem 1.2rem;
	border: 3px solid $purple;
}

.link{
	font-family: $heading;
	text-transform: uppercase;
	display: inline-block;
	margin-right: 1.5rem;
	&:last-child{
		margin-right: 0;
		}
	& a{
		&:after{
			content: "";
			display: block;
			height: 2px;
			width: 0%;
			background-color: $transparent;
			position: relative;
			top: 6px;
			transition: width .5s;
		}
		&:hover{
			text-decoration: none;
			color: $red-orange-light;
			&:after{
				background-color: $red-orange-light;
				width: 40%;
			}
		}
	}	
}

.link.big{
	font-size: 1.802rem;
	letter-spacing: .2rem;
}

.link.mid{
	font-size: 1.602rem;
	letter-spacing: .175rem;
}

.link.icon{
	font-size: 1.625rem;
	& a{
		&:after{
			content: none;
		}
	}

}

// Nav

nav{
	& .nav-links{
		color: $bright;
	}
}

.main-nav.desk{
	color: $bright;
	padding: 2rem 0;
	& ul{
		display: inline-block;
	}
}

// Sections

header{
	background-color: $purple;
	& h1{
		color: $red-orange-light;
		margin-bottom: 2rem;
	}
	& .button{
		background-color: $bright;
		border: $bright solid !important;
		margin-right: 1rem;
		&:last-child{
			margin-right: 0;
		}
		&:hover{
			text-decoration: none;
			background-color: $red-orange-light;
			border: $red-orange-light solid !important;
			color: $bright;
		}
	}
	& .ghost{
		background-color: $transparent;
		border: $bright solid !important;
		color: $bright;
	}
}

footer{
	background-color: $yellow;
}

// Slideshow
.slideshow{
}

.slideshow-buttons{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: -50%;
	& li{
		display: inline-block;
		z-index: 1;
	}
}

.slideshow-dotnav{
	display: flex;
	margin-top: 37.5%;
	justify-content: center;
	& li{
		display: inline-block;
		z-index: 1;
		color: $bright;
		&:hover{
			color: $purple;
		}
	}

}

// Sr only

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}