// La tienda marciana
// Design and development. Fluorescente.
// github: @fluorescente
// fluorescente.design

// Variables:

// Color variables
$yellow: #FBBD16;
$red-orange: #F1562F;
$orange: #F37039;
$red-orange-light: #F37769;
$purple-dark: #5B2467;
$purple: #75297F;
$lila: #B062A7;
$lila-light: #E086B7;

$bright: #F3F0E4;
$gray-1: #C4BFB0;
$gray-2: #9E9787;
$gray-3: #7C7563;
$gray-4: #5E5846;
$gray-5: #453F2C;
$dark: #2D2913;

$transparent: rgba(0,0,0,0);

// Transform variables

$transition: .7s ease;
$transition-quick: .4s ease;

// Font variables

$heading: 'League Gothic', sans-serif;
$paragraph: 'Jost', sans-serif;

