@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon/icomoon.eot?tkomqn');
  src:  url('../../fonts/icomoon/icomoon.eot?tkomqn#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon/icomoon.ttf?tkomqn') format('truetype'),
    url('../../fonts/icomoon/icomoon.woff?tkomqn') format('woff'),
    url('../../fonts/icomoon/icomoon.svg?tkomqn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
  font-display: swap;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-prev:before {
  content: "\e900";
}
.icon-next:before {
  content: "\e901";
}
.icon-smallchat:before {
  content: "\e902";
}
.icon-arrow-down:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e904";
}

