<!-- Modal nav -->
<div id="big-anouncement" class="uk-modal-full big-anouncement uk-open" uk-modal>
  <div class="uk-modal-dialog">
        <!-- wrapper -->
        <div class="wrapper container-fluid" uk-scrollspy="cls: uk-animation-fade; delay: 100">
          <!-- row -->
          <div class="row middle-xs big-anouncement-content">
          	<!-- col -->
            <div class="col-xs-12 center-xs col-sm-8 col-sm-offset-2 ">
              <figure>
              	<img src="{{ site.logo }}" alt="{{ site.title }}">
              </figure>
              <h1 class="giant">Estaré en receso indefinidamente</h1>
            </div>
            <!-- col end -->
          </div>
          <!-- row end -->
        </div>
        <!-- wrapper end -->
    </div>
</div>
<!-- Modal nav end --> 

<script>
jQuery(function($) {  
    UIkit.modal('#big-anouncement').show();  
})
</script>


