<!-- Modal nav -->
<div id="contact-modal" class="uk-modal-full contact-m" uk-modal>
  <div class="uk-modal-dialog">
        <!-- wrapper -->
        <div class="wrapper container-fluid" uk-scrollspy="cls: uk-animation-fade; delay: 100">
          <!-- row -->
          <div class="row">
            <div class="col-xs-12 end-xs">
              <a class="uk-modal-close modal-close" uk-close><span class="icon icon-close" type="button"></span></a>
            </div>
          </div>
          <!-- row end --> 
          <!-- row -->
          <div class="row middle-lg contact-content">
            <!-- col -->
            <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-lg-offset-0 col-lg-6 contact-info">
              <!-- row -->
              <div class="row">
                <!-- col -->
                <div class="col-xs-4 col-sm-4">
                  {% for item in site.data.contact %}
                  <figure>
                    <img src="{{ item.marciana }}" alt="Marciana">
                  </figure>
                  {% endfor %}
                </div>
                <!-- col end -->
              </div>
              <!-- row end -->              
              {% for item in site.data.contact %}
                <h2>{{ item.heading }}</h2>
                <p class="base">{{ item.text }}</p>
              {% endfor %}
            </div>
            <!-- col end -->
            <!-- col -->
            <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-lg-offset-0 col-lg-6">
              <form class="contact-form" action="461319e4cf14458ce139ff8472b33fae" method="POST" accept-charset="UTF-8">
                <input type="hidden" name="_next" value="https://fluorescente.design/mensaje-enviado/">
                <input type="text" name="_honey" style="display:none">
                <label for="name">Nombre*</label>
                <input type="text" name="yourName" id="name" placeholder="ej: Juana Marciana" required>
                <label for="email">Correo electrónico*</label>
                <input type="email" id="email" name="yourEmail" placeholder="ej: juana@latiendamarciana.com" required>
                <input type="hidden" name="_gotcha"><!-- use this to prevent spam -->
                <label for="message">Mensaje*</label>
                <textarea id="message" name="yourMessage" placeholder="Escribe lo que quieres decir" required></textarea>
                <p class="small">*Campos requeridos</p>
                <ul class="buttons">
                  <li><button class="button mid" type="submit">Enviar</button></li>
                  <li><button class="button mid ghost uk-modal-close">Volver</button></li>
                </ul>
                {% for item in site.data.contact %}
                  <p class="small">{{ item.note }} <span class="icon-arrow-right-small"></span></p>
                {% endfor %}
              </form>
            </div>
            <!-- col end -->
          </div>
          <!-- row end -->
        </div>
        <!-- wrapper end -->
    </div>
</div>
<!-- Modal nav end -->           
