  {%- include main-nav-mobile.html -%}
<header class="header-home" role="banner">
  {%- include main-nav-desk.html -%}
  <!-- wrapper -->
  <div class="wrapper visible-xs hidden-sm hidden-lg">
    <!-- slideshow -->
    <div uk-slideshow="animation: fade; ratio: 3:2; autoplay: true; autoplay-interval: 4000" class="slideshow mobile" uk-scrollspy="cls: uk-animation-fade; delay: 100">
        <!-- slideshow items -->
        <ul class="uk-slideshow-items">
          {% for hamburguesas in page.hamburguesas %}
            <li>
                <img src="{{ hamburguesas }}" uk-cover>
            </li>
          {% endfor %}
        </ul>
        <!-- slideshow items end -->
        <!-- slideshow buttons -->
        <ul class="slideshow-buttons">
          <li><a href uk-slideshow-item="previous"><span class="icon icon-prev"></span></a></li>
          <li><a href uk-slideshow-item="next"><span class="icon icon-next"></span></a></li>
        </ul>
        <!-- slideshow buttons end -->
        <!-- slideshow dotnav -->
        <ul class="slideshow-dotnav">
          <li uk-slideshow-item="0"><a href></a></li>
          <li uk-slideshow-item="1"><a href></a></li>
        </ul>
        <!-- slideshow dotnav end -->
    </div>
    <!-- slideshow end -->    
  </div>
  <!-- wrapper end -->
  <!-- wrap -->
  <div class="wrapper container-fluid">
    <!-- row -->
    <div class="row middle-xs" uk-scrollspy="cls: uk-animation-fade; delay: 100">
      <!-- col -->
      <div class="col-xs-12 col-sm-7">
        <h1 class="giant">{{ page.title }}</h1>
        <div>
          <a class="button big" href="#">{{ page.where-button }}</a>
          <a class="button big ghost" href="#">{{ page.contact-button }}</a>
        </div>
      </div>
      <!-- col end -->
      <!-- col -->
      <div class="col-xs-12 col-sm-5 hidden-xs visible-sm">
        <!-- slideshow -->
        <div uk-slideshow="animation: fade; ratio: 1:1; autoplay: true; autoplay-interval: 4000" class="slideshow" uk-scrollspy="cls: uk-animation-fade; delay: 100">
            <!-- slideshow items -->
            <ul class="uk-slideshow-items">
              {% for hamburguesas in page.hamburguesas %}
                <li>
                    <img src="{{ hamburguesas }}" uk-cover>
                </li>
              {% endfor %}
            </ul>
            <!-- slideshow items end -->
            <!-- slideshow buttons -->
            <ul class="slideshow-buttons">
              <li><a href uk-slideshow-item="previous"><span class="icon icon-prev"></span></a></li>
              <li><a href uk-slideshow-item="next"><span class="icon icon-next"></span></a></li>
            </ul>
            <!-- slideshow buttons end -->
            <!-- slideshow dotnav -->
            <ul class="slideshow-dotnav">
              {% for hamburguesas in page.hamburguesas%}
                 <li uk-slideshow-item="{{ forloop.index0 }}"><a href></a></li>
              {% endfor %}
            </ul>
            <!-- slideshow dotnav end -->
        </div>
        <!-- slideshow end -->  
      </div>
      <!-- col end -->      
    </div>
    <!-- row end -->
  </div>
  <!-- wrap end -->
</header>
