{% include alert.html %}
{%- include main-nav-mobile.html -%}
<header class="header-home" role="banner">
  {%- include main-nav-desk.html -%}
  <!-- wrapper -->
  <div class="wrapper visible-xs hidden-sm hidden-lg">
    <!-- slideshow mobile -->
    {%- include slideshow-home.html -%}
    <!-- slideshow end -->    
  </div>
  <!-- wrapper end -->
  <!-- wraper header -->
  <div class="wrapper container-fluid">
    <!-- row -->
    <div class="row middle-xs" uk-scrollspy="cls: uk-animation-fade; delay: 100">
      <!-- col -->
      <div class="col-xs-12 col-sm-7">
        <h1 class="giant">{{ page.title }}</h1>
        <div>
          <a class="button big" uk-toggle="target: #contact-modal">{{ page.contact-button }}</a>
          <a class="button big ghost" href="{{ page.where-url }}" uk-scroll="offset: 40">{{ page.where-button }}</a> 
        </div>
      </div>
      <!-- col end -->
      <!-- col -->
      <div class="col-xs-12 col-sm-5 hidden-xs visible-sm">
        <!-- slideshow desk -->
        {%- include slideshow-home.html -%}
        <!-- slideshow end -->  
      </div>
      <!-- col end -->      
    </div>
    <!-- row end -->
  </div>
  <!-- wrap end -->
</header>
