<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Normalize -->
	<link rel="stylesheet" href="{{ "../assets/css/normalize.css" | relative_url }}">
	<!-- Fontface -->
	<link rel="stylesheet" href="{{ "../assets/css/fontface.css" | relative_url }}">
	<!-- Custom styles -->
	<link rel="stylesheet" href="{{ "../assets/css/styles.css" | relative_url }}">
	<link rel="stylesheet" href="{{ "../assets/css/media-queries.css" | relative_url }}">
	<title>{{ site.title }}</title>
	<!-- Smallchat -->
	<script src="https://embed.small.chat/T0758JG67T7C07609Z3M5E.js" async></script>
	<!-- Plausible -->
	<script defer data-domain="latiendamarciana.com" src="https://plausible.io/js/script.js"></script>
	<!-- Favico -->
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
</head>