<!-- Slideshow -->
<div uk-slideshow="ratio: 1:1; animation:push; autoplay:true; autoplay-interval: 4000">
  <div class="slideshow-content" tabindex="-1">
    <div class="uk-slideshow-items">
      {% for item in site.posts-index-slideshow-images %}
      <img 
        srcset="
          {{ item.image-xs }} 686w,
          {{ item.image-sm }} 744w,
          {{ item.image-lg }} 1416w"
        sizes="
          (min-width: 1025px) 708px,
          (min-width: 641px) 372px,
          343px"
        src="{{ item.src }}"  
        alt="{{ item.alt }}"
        loading="lazy" uk-cover>
      {% endfor %}
    </div>
    <a class="uk-position-center-left prev" href uk-slidenav-previous uk-slideshow-item="previous"><span class="icon icon-prev"></span></a>
    <a class="uk-position-center-right next" href uk-slidenav-next uk-slideshow-item="next"><span class="icon icon-next"></span></a>
    <ul class="uk-slideshow-nav uk-dotnav"></ul>
  </div>  
</div>
<!-- Slideshow end  -->