<section class="location-hours" id="ubicación-y-horarios">
	<!-- wrapper -->
	<div class="wrapper container-fluid">
		<!-- row -->
		<div class="row" uk-scrollspy="cls: uk-animation-fade; delay: 100">
			<!-- col -->
			<div class="col-xs-12">
				{% for location in site.data.location-hours %}
      				<h2>{{ location.heading }}</h2>
    			{% endfor %}
			</div>
			<!-- col end -->
		</div>
		<!-- row end -->
		<!-- row -->
		<div class="row" uk-scrollspy="cls: uk-animation-fade; delay: 100">
						<!-- col -->
			<div class="col-xs-12">
				<!-- row  -->
				<div class="row regular-location middle-lg">
					<!-- col -->
					<div class="col-xs-12 col-sm-6">
						<figure>
							{% for location in site.data.location-hours %}
					 			<img class="hidden-xs hidden-sm visible-lg" src="{{ location.regular-location }}">
					 			<img class="visible-xs visible-sm hidden-lg " src="{{ location.regular-location-32 }}">
				 			{% endfor %}
			    		</figure>
					</div>
					<!-- col end -->
					<!-- col -->
					<div class="col-xs-12 col-sm-6 text">
						{% for location in site.data.location-hours %}
		      				<h3>{{ location.days }}</h3>
		      				<p class="mid">{{ location.location }}</p>
		      				<h4>{{ location.morning-heading }}</h4>
		      				<p class="mid">{{ location.morning }}</p>
		      				<h4>{{ location.night-heading }}</h4>
		      				<p class="mid">{{ location.night }}</p>
		    			{% endfor %}
					<!-- col end -->
				</div>
				<!-- row end -->				
			</div>
			<!-- col end -->
			<!-- col -->
			{% for event in site.data.special-events %}
				<div class="col-xs-12 color-col">
				<!-- row -->
				<div id="eventos-especiales" class="row special-location {{ event.color }} middle-sm">
					<!-- col -->
					<div class="col-xs-12 col-sm-6 text">
						<p class="base event-title">{{ event.pre-heading }}</p>
						<h3 class="giant">{{ event.heading }}</h3>
						<p class="mid">{{ event.text }}</p>
					</div>
					<!-- col end -->
					<!-- col -->
					<div class="col-xs-12 col-sm-6 first-xs last-sm no-padding">
						<figure>
							{% for location in site.data.location-hours %}
					 			<img class="hidden-xs hidden-sm visible-lg" src="{{ location.special-location }}">
					 			<img class="visible-xs visible-sm hidden-lg " src="{{ location.special-location-32 }}">
				 			{% endfor %}
			    		</figure>				
					</div>
					<!-- col end -->
				</div>
				<!-- row end -->				
			</div>
			<!-- col end -->
			{% endfor %}
		</div>
		<!-- row end -->
	</div>	
	<!-- wrapper end -->
</section>