  <!-- main-nav desk-->
  <nav id="main-nav-desk" class="main-nav desk hidden-xs hidden-sm visible-lg" uk-sticky="animation: start: 100; uk-animation-slide-top;" uk-scrollspy="cls: uk-animation-fade; delay: 100">
    <!-- wrap -->
    <div class="wrapper container-fluid">
      <!-- row -->
      <div class="row middle-lg">
        <!-- col -->
        <div class="col-sm-3">
          <div class="sr-only">
            <h1>La tienda marciana</h1>
          </div>
          <a href="/">
            <div class="logo">              
            </div>
          </a>
        </div>
        <!-- col end -->
        <!-- col -->
        <div class="col-sm-9 end-sm">
          <ul class="nav-buttons">
            {% for post in site.pages %}
              {% if post.url != "/" and post.title != nil %}
              <li class="link mid"><a href="{{ post.url }}">{{ post.title }}</a></li>
              {% endif %}
            {% endfor %}
            {% for social in site.data.social %}
              <li class="link icon"><a href="{{ social.url }}" target="_blank"><span class="icon {{ social.icon }}"></span></a></li>
            {% endfor %}
          </ul>
        </div>
        <!-- col end -->        
      </div>
      <!-- row end -->
    </div>
    <!-- wrap end -->
  </nav>
  <!-- main-nav desk end -->