  <!-- main-nav desk-->
  <nav id="main-nav-desk" class="main-nav desk hidden-xs hidden-sm visible-lg" uk-sticky="animation: start: 100; uk-animation-slide-top;">
    <!-- wrap -->
    <div class="wrapper container-fluid">
      <!-- row -->
      <div class="row middle-lg">
        <!-- col -->
        <div class="col-sm-3">
          <div class="sr-only">
            <h1>La tienda marciana</h1>
          </div>
          <a href="/">
            <div class="logo">              
            </div>
          </a>
        </div>
        <!-- col end -->
        <!-- col -->
        <div class="col-sm-9 end-sm">
          <ul class="nav-buttons">
            <li class="link mid"><a href="#">Ubicación y horarios</a></li>
            <li class="link mid"><a href="#">Productos</a></li>
            <li class="link mid"><a href="#">Contacto</a></li>
            <li class="link icon"><a href=""><span class="icon icon-telegram"></span></a></li>
            <li class="link icon"><a href=""><span class="icon icon-signal"></span></a></li>
          </ul>
        </div>
        <!-- col end -->        
      </div>
      <!-- row end -->
    </div>
    <!-- wrap end -->
  </nav>
  <!-- main-nav desk end -->