  <!-- main nav mobile -->
  <nav id="main-nav-mobile" class="main-nav mobile visible-xs hidden-lg" uk-sticky="start: 200; animation: uk-animation-slide-top; show-on-up: true">
    <!-- wrapper -->
    <div class="wrapper container-fluid">
      <!-- row -->
      <div class="row middle-xs">
        <!-- col -->
        <div class="col-xs-6">
          <a href="/">
            <div class="logo xs">              
            </div>
          </a>
        </div>
        <!-- col end -->
        <!-- col -->
        <div class="col-xs-6 end-xs">
          <a class="hamburger" uk-toggle="target: #modal-nav">
            <span class="icon icon-hamburger-bite"></span>
          </a>
        </div>
        <!-- col end -->
      </div>
      <!-- row end -->
    </div>
    <!-- wrapper end -->
  </nav>
  <!-- main nav mobile end -->