<!-- Modal nav -->
<div id="modal-nav" class="uk-modal-full" uk-modal>
  <div class="uk-modal-dialog">
        <!-- wrapper -->
        <div class="wrapper container-fluid">
          <!-- row -->
          <div class="row">
            <div class="col-xs-12 end-xs">
              <a class="uk-modal-close modal-close" uk-close><span class="icon icon-close" type="button"></span></a>
            </div>
          </div>
          <!-- row end -->          
          <!-- row -->
          <div class="row modal-nav middle-xs">
            <!-- col -->
            <div class="col-xs-12">
              <!-- row -->
              <div class="row center-xs ">
                <!-- col -->
                <div class="col-xs-10">
                  <a href="/" class="logo-nav">
                  </a>
                  <ul class="links">
                    {% for post in site.pages %}
                       {% if post.url != "/" and post.title != nil %}
                       <li class="link mid {% if post.url == page.url %}active{% endif %}">
                          <a href="{{ post.url }}">{{ post.title }}</a>
                       </li>
                       {% endif %}
                    {% endfor %}
                       <li class="link mid"><a uk-toggle="target: #contact-modal">Domicilios y contacto</a></li> 
                  </ul>
                  <ul class="social inline list">
                    {% for social in site.data.social %}
                      <li>
                        <a href="{{ social.url }}" target="_blank"><span class="icon {{ social.icon }}"></span></a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
                <!-- col end -->
              </div>
              <!-- row end --> 
            </div>
            <!-- col end -->
          </div>
          <!-- row end -->
        </div>
        <!-- wrapper end -->
    </div>
</div>
<!-- Modal nav end -->