<!-- Modal nav -->
<div id="modal-nav" class="uk-modal-full" uk-modal>
  <div class="uk-modal-dialog">
        <!-- wrapper -->
        <div class="wrapper container-fluid">
          <!-- row -->
          <div class="row">
            <div class="col-xs-12 end-xs">
              <a class="uk-modal-close modal-close" uk-close><span class="icon icon-close" type="button"></span></a>
            </div>
          </div>
          <!-- row end -->          
          <!-- row -->
          <div class="row modal-nav middle-xs">
            <!-- col -->
            <div class="col-xs-12">
              <!-- row -->
              <div class="row center-xs ">
                <!-- col -->
                <div class="col-xs-10">
                  <a href="/" class="logo">
                  </a>
                  <ul class="links">
                    {% for post in site.pages %}
                       {% if post.url != "/" and post.title != nil %}
                       <li class="link mid {% if post.url == page.url %}active{% endif %}">
                          <a href="{{ post.url }}">{{ post.title }}</a>
                       </li>
                       {% endif %}
                    {% endfor %} 
                  </ul>
                  <ul class="social inline list">
                    <li>
                      <a href=""><span class="icon icon-telegram"></span></a>
                    </li>
                    <li>
                      <a href=""><span class="icon icon-signal"></span></a>
                    </li>
                  </ul>
                  <ul class="links">
                    <li class="link mid">
                      <a href="">313 2240575</a>
                    </li>
                    <li class="link mid">
                      <a href="">latiendamarciana@pm.me</a>
                    </li>
                  </ul>
                </div>
                <!-- col end -->
              </div>
              <!-- row end --> 
            </div>
            <!-- col end -->
          </div>
          <!-- row end -->
        </div>
        <!-- wrapper end -->
    </div>
</div>
<!-- Modal nav end -->