<!-- Nav modal -->
<div id="modal-nav" class="uk-modal-full" uk-modal>
  <ul class="modal-nav-content">
    <li class="modal-nav-close">
      <a href="" class="uk-modal-close-full" uk-close aria-label="Cerrar"><span class="icon icon-close"></span></a>
    </li>
    {% for item in site.posts-logos %}
    <li class="modal-nav-logo">
      <a href="{{ item.href }}"><span class="icon icon-{{ item.logo-footer }}" aria-label="{{ item.aria-label }}"></span></a>
    </li>
    {% endfor %}
    <li> 
      <ul class="modal-nav-links">
        {% for item in site.posts-modal-nav-links %}
        <li><a class="{% if page.url == item.url %}nav-link-active{% endif %}" href="{{ item.href }}" target="{{ item.target }}">{{ item.link-text }}</a></li>
        {% endfor %}
      </ul>  
    </li>
    <li>
      <ul class="modal-nav-platforms">
        {% for item in site.posts-platforms %}
        <li><a href="{{ site.ko-fi_url }}" target="{{ item.target }}" aria-label="{{ item.aria-label }}"><span class="icon {{ item.icon }}"></span></a></li>
        {% endfor %}
      </ul>  
    </li> 
  </ul> 
</div>
<!-- Nav modal end -->