<!-- Nav -->
<div class="nav-container hidden-xs visible-sm visible-lg" uk-sticky="show-on-up: true; animation: uk-animation-slide-top">
  <nav class="full-width">
    <ul class="main-nav-links">
      {% for item in site.posts-nav-links %}
      <li>
        <a class="{% if page.url == item.url %}nav-link-active{% endif %} {{ item.class }}" href="{{ item.href }}" target="{{ item.target }}">{% if item.href != "/" %}{{ item.link-text }}{% endif %} {% if item.class == "platform" %}<span class="icon {{ item.icon }}"></span>{% endif %} {% if item.class == "nav-logo" %}<img src="{{ item.logo-sm }}" aria-label="{{ item.aria-label }}">{% endif %}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</div>
<!-- Nav end -->
