<!-- Nav -->
<div class="nav-container hidden-xs visible-sm visible-lg" uk-sticky="show-on-up: true; animation: uk-animation-slide-top">
  <nav class="full-width main-nav">
    <ul class="main-nav-links">
      {% for item in site.posts-nav-links %}
      <li>
        <a href="{{ item.href }}" class="{{ item.class }} {% if page.url == item.active or page.url == item.href %}active{% endif %}" target="{{ item.target }}" {% if item.link-text == "Dónde" %}uk-toggle{% endif %}>
          {% if item.href != "/" %}{{ item.link-text }}{% endif %} {% if item.class == "platform" %}<span class="icon {{ item.icon }}" aria-label="{{ item.aria-label }}"></span>{% endif %} {% if item.class == "nav-logo" %}<img src="{{ site.baseurl }}{{ item.logo-sm }}" aria-label="{{ item.aria-label }}">{% endif %}
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</div>
<!-- Nav end -->

