<!-- Newsletter -->
<section class="newsletter">
  <div class="newsletter-container full-width">
    {% for item in site.posts-newsletter %}
    <picture>
      <source 
        media="(min-width: 1025px)" 
        srcset="{{ item.image-lg }}">
      <source 
        media="(min-width: 641px)" 
        srcset="{{ item.image-sm }}">
      <img 
        src="{{ item.image-xs }}" 
        alt="{{ item.alt }}"
        loading="lazy">
    </picture>
    <div class="newsletter-info-and-form">
      <div class="newsletter-info">
        <h3>{{ item.heading }}</h3>
        <p>{{ item.rss-text }} <a class="link bold" href="{{ item.rss-href }}" target="_blank">{{ item.rss-link }} <span class="icon icon-rss"></span></a></p>
      </div>
      <form method="post" action="https://buttondown.com/api/emails/embed-subscribe/latiendamarciana" class="embeddable-buttondown-form" referrerpolicy="unsafe-url" aria-labelledby="newsletter-form-heading">
        <label for="newsletter">{{ item.label }}</label>
        <input type="email" name="email" id="newsletter" pattern=".{4,64}" autocomplete="on" oninvalid="this.setCustomValidity('Por favor escribe tu correo electrónico')" oninput="this.setCustomValidity('')" required>
        <button class="button-base" type="submit" aria-describedby="newsletter-note">{{ item.button }}</button> 
        <p class="note p-xs" id="newsletter-note">{{ item.note }}</p>
        </div>
      </form>
    </div>
    {% endfor %}
  </div>   
</section>

<!-- Newsletter end -->