<!-- Newsletter -->
<section class="newsletter">
  <div class="newsletter-container full-width">
    {% for item in site.posts-newsletter %}
    <img 
        srcset="
          {{ item.image-xs }} 750w,
          {{ item.image-sm }} 1536w,
          {{ item.image-lg }} 1652w"
        sizes="
          (min-width: 1025px) 826px,
          (min-width: 641px) 768px,
          375px"
        src="{{ item.src }}"  
        alt="{{ item.alt }}"
        loading="lazy">
    <div class="newsletter-info-and-form">
      <div class="newsletter-info">
        <h3>{{ item.heading }}</h3>
        <p>{{ item.rss-text }} <a class="link" href="{{ item.rss-url }}" target="_blank">{{ item.rss-link }} <span class="icon icon-rss"></span></a></p>
      </div>
      <form method="post" action="https://buttondown.com/api/emails/embed-subscribe/latiendamarciana" class="embeddable-buttondown-form" referrerpolicy="unsafe-url" aria-labelledby="newsletter-form-heading">
        <label for="newsletter">{{ item.label }}</label>
        <input type="email" name="email" id="newsletter" pattern=".{4,64}" autocomplete="on" oninvalid="this.setCustomValidity('Por favor escribe tu correo electrónico')" oninput="this.setCustomValidity('')" required>
        <button class="button-base" type="submit" aria-describedby="newsletter-note">{{ item.button }}</button> 
        <p class="note p-xs" id="newsletter-note">Al suscribirte me autorizas a enviarte boletines de correo. No usaré tu correo para otros fines, ni lo compartiré con terceros.</p>
        </div>
      </form>
    </div>
    {% endfor %}
  </div>   
</section>

<!-- Newsletter end -->