<section class="ubicacion-y-horarios">
	<!-- wrapper -->
	<div class="wrap container-fluid">
		<!-- row -->
		<div class="row">
			<!-- col -->
			<div class="col-xs-12">
				<h2>Ubicación y horarios</h2>
			</div>
			<!-- col end -->
		</div>
		<!-- row end -->
		<!-- row -->
		<div class="row ubicacion-especial middle-sm">
			<!-- col -->
			<div class="col-sm-6">
				<h1>Ubicación especial</h1>
				<p>Pasaje Cervantes:<br>
				Carrera 42a con calle 48<br>
				9:00 a.m a 4:00 p.m. - O hasta que se acaben las hamburguesas.</p>
			</div>
			<!-- col end -->
			<!-- col -->
			<div class="col-sm-6">
				<figure>
		 			<img src="{{ page.ubicacion-especial }}">
	    		</figure>				
			</div>
			<!-- col end -->
		</div>
		<!-- row end -->		
	</div>	
	<!-- wrapper end -->
</section>