// Product Slideshow media queries

@media screen and (min-width: 375px) {
  .hidden-375 {
    display: none;
  }

  .visible-375 {
    display: inherit;
  }

  .index-products{
    .prev {
        top: 27.5%;
      }
    .next {
        top: 27.5%;
      }
  }
}

@media screen and (min-width: 414px) {
  .hidden-414 {
    display: none;
  }

  .visible-414 {
    display: inherit;
  }
  .index-products{
    .prev {
        top: 30%;
      }
    .next {
        top: 30%;
      }
  }
}

@media screen and (min-width: 500px) {
  .hidden-500 {
    display: none;
  }

  .visible-500 {
    display: inherit;
  }
  .index-products{
    .prev {
        top: 33%;
      }
    .next {
        top: 33%;
      }
  }  
}

// Sm screens
@media screen and (min-width: 641px) {
  .full-width,
  .boxed-width {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .hidden-sm {
    display: none;
  }

  .visible-sm {
    display: inherit;
  }

  .alert{
    padding: 1.5rem 4rem 1.75rem 1.5rem; 
  }

  .nav-container{
    height: 5rem;
    & nav{
      height: 5.25rem;
      position: relative;
      top: -0.4rem;
    }
  }

  .main-nav-links{
    .icon{
      font-size: 1.5rem;
      position: relative;
      top: .25rem;
    }
  }

  .ux-library-header{
    padding-bottom: 2.5em;
  }

  .header-two-columns-01,
  .header-two-columns-02 {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    align-items: start;
    padding-top: 5rem;
    padding-bottom: 2rem;
  }

  .header-two-columns-01 {
    padding-left: 0 !important;
    padding-bottom: 4rem;
    .slideshow-content{
      margin-bottom: -.5rem !important;
    }
  }

  .location{
    padding: 6rem 0 0 0;
    background-image: url(../images/fondo-ubicacion-sm.svg);
    .location-container{
      padding: 0 1.5rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
      align-items: center;
      figure{
        padding: 0;
        margin: 0;
      }
      .location-text{
        padding: 0;
        margin: 0;
      }
    } 
  }

  .index-products{
    padding-top: 4rem;
    padding-bottom: 4rem;
    .index-products-container{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
      margin-bottom: 3rem;
      .product-card{
        img{
          width: 100%;
          height: auto;
        }
        &:last-child{
          display: none;
        }
      }
    }
  }

  .newsletter{
    form{
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      align-items: baseline;
      label{
        grid-column: 1 / 7;
      }
      input{
        grid-column: 1 / 6;
      }
      button{
        grid-column: 6 / 7;
        width: auto;
        margin-left: 1.5rem;
      }
      .note{
        grid-column: 1 / 7;
      }
    }
  }

  footer{
    padding: 3rem 0 0 0;
    nav{
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 1.5rem;
      align-items: center;
      padding-bottom: 3rem !important;
      .footer-logo{
        grid-column: 1 / 2;
        margin: 0;
        .logo{
          margin: 0;
        }
      }
      .footer-links{
        grid-column: 2 / 7;
        display: block;
        columns: 3;
        gap: 2rem;
        padding-bottom: 0;
      }
    }
  }

  .containers-container,
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
    row-gap: 2rem;
    margin-bottom: 2rem;
  }

  .container-horizontal,
  .card-horizontal {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    align-items: top;
  }

  .container-horizontal figure,
  .card-horizontal figure {
    margin-bottom: 0;
  }

  .card-horizontal .card-text {
    padding: 0 1.5rem 0 0;
  }

  .card-horizontal {
    align-items: center;
  }

  .paginator .visible-sm {
    display: block;
  }

  .basic-main .paragraphs-container {
    margin-bottom: 4rem;
  }

  .headings-container {
    margin-bottom: 4rem;
  }

  .headings-container,
  .paragraphs-container {
    columns: 2;
    gap: 1.5rem;
  }

  .colors-container,
  .buttons-container,
  .links-container,
  .arrow-links-container,
  .images-container,
  .icons-container,
  .checkboxes-container,
  .radio-buttons-container {
    gap: 2rem 1.5rem;
  }

  .colors-container,
  .icons-container {
    grid-template-columns: repeat(5, 1fr);
  }

  .buttons-container,
  .links-container,
  .arrow-links-container,
  .images-container,
  .checkboxes-container,
  .radio-buttons-container {
    grid-template-columns: repeat(3, 1fr);
  }


}

// L screens
@media screen and (min-width: 1025px) {
  :root {
    --h6: 1.125rem;
    --h5: 1.263rem;
    --h4: 1.419rem;
    --h3: 1.8rem;
    --h2: 2.025rem;
    --h1: 2.281rem;
    --h-l: 2.563rem;
    --h-xl: 2.875rem;
    --h-xxl: 3.25rem;
  }

  .hidden-lg {
    display: none;
  }

  .visible-lg {
    display: inherit;
  }

  table{
    display: table;
  }

  .full-width {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .alert{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .header-two-columns-01{
    .uk-slideshow-items{
      border-radius: 0 0 var(--rounded-border-l) 0;
    }
  }

  .location{
    padding: 6rem 0 0 0;
    background-image: url(../images/fondo-ubicacion-lg.svg);
    .location-container{
      margin: 0 auto;
      max-width: 1148px;
      grid-template-columns: repeat(10, 1fr);
      figure{
        grid-column: 1 / 5;
      }
      .location-text{
        grid-column: 5 / 11;
      }
    }
    .marciana-fondo{
      margin-top: -10rem;
    }
  }

  .index-products{
    .index-products-container{
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      .product-card{
        &:last-child{
          display: initial;
        }
      }
    } 
  }

  .newsletter{
    padding-bottom: 0;
    .newsletter-container{
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      align-items: center;
      gap: 2rem;
      img{
        grid-column: 1 / 8;
        margin-bottom: 0;
      }
      .newsletter-info-and-form{
        grid-column: 8 / 13;
        padding: 0 2rem 0 0;
      }
    }
  }

  footer{
    padding: 2rem 0 0 0;
    nav{
      padding-bottom: 2.5rem !important;
      .footer-logo{
        .logo{
          font-size: 7.25rem;
          width: 7.25rem;
          height: 7.25rem;
        }
      }
      .footer-links{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1.5rem;
        li{
          margin-bottom: 0;
        }
      }
    }
  }

  #modal-location{
    .modal-location-content{
      max-width: 1148px !important;
      .location{
        img.visible-lg{
          margin-top: -3.5rem;
        }
      }
    }
  }

  .boxed-width{
    padding-left: 0;
    padding-right: 0;
  }

  .ux-library-header{
    padding-bottom: 3em;
  }

  .containers-container,
  .cards-container {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    row-gap: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .containers-container .container-horizontal:nth-child(even),
  .cards-container .card-horizontal:nth-child(even) {
    grid-column: 3 / 5;
  }

  .container-horizontal {
    gap: 2rem;
  }

  .container-horizontal figure,
  .card-horizontal figure {
    margin-bottom: 0;
  }

  .header-background {
    height: 80vh;
    padding: 0;
  }

  .header-two-columns-01,
  .header-two-columns-02 {
    gap: 2rem;
    align-items: center;
  }

  .header-two-columns-01 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .header-two-columns-02 {
    grid-template-columns: repeat(12, 1fr);
    padding-top: 8rem;
    padding-bottom: 8rem;

    .header-content {
      grid-column: 1 / 8;
    }

    .slideshow {
      grid-column: 8 / 13;
    }
  }

  .headings-container,
  .paragraphs-container {
    gap: 2rem;
  }

  .paragraphs-container {
    columns: 3;
  }

  .form-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .buttons-container,
  .links-container,
  .arrow-links-container,
  .images-container,
  .icons-container,
  .checkboxes-container,
  .radio-buttons-container {
    gap: 2rem;
  }

  .colors-container,
  .icons-container {
    grid-template-columns: repeat(12, 1fr);
    align-items: start;
  }

  .buttons-container,
  .links-container,
  .arrow-links-container,
  .checkboxes-container,
  .radio-buttons-container {
    grid-template-columns: repeat(6, 1fr);
  }

  .post{
    header{
      padding-top: 2rem;
    }
  }

  .images-container {
    grid-template-columns: repeat(4, 1fr);
  }
}