/* Sm screens */

@media screen and (min-width: 641px){
  .full-width, .boxed-width{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  /* Display Hidden */
  .hidden-sm{
    display: none;
  }
  .visible-sm{
    display: inherit;
  }
  /* Page */
  .logo span{
    font-size: 10.813rem;
  }
  .thanks-container, .mailbox-and-info{
    padding-bottom: 2rem;
    display: flex;
    gap: 1.5rem;
  }
  .thanks-container h2{
    margin-bottom: 0 !important;
  }
  .newsletter{
    padding: 4rem 0;
  }
  .mailbox-and-info{
    padding-bottom: 1rem;
  }
  .mailbox span{
    font-size: 11.875rem;
  }
  .button-and-note{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
  }
  .name-and-phone{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  /* Message delivered */
  .message-delivered-container .smile span, .confirmed-container .smile span{
    font-size: 9.25rem;
  }
  /* Unconfirmed */
  .unconfirmed, .confirmed{
    display: flex;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }
  .unconfirmed-container .mailbox span{
    font-size: 18.438rem;
  }
}

/* L screens */

@media screen and (min-width: 1025px) {
  :root{
    --h6: 1.125rem;
    --h5: 1.263rem;
    --h4: 1.419rem;
    --h3: 1.8rem;
    --h2: 2.025rem;
    --h1: 2.281rem;
    --h1-l: 2.563rem;
    --h1-xl: 2.875rem;
    --h1-xxl: 3.65rem;
  }
  /* Display Hidden */
  .hidden-lg{
    display: none;
  }
  .visible-lg{
    display: inherit;
  }
  .full-width{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .logo span{
    font-size: 10rem;
  }
  .main-text{
    columns: 2;
    gap: 2rem;
  }
  .newsletter-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .mailbox-and-info{
    padding-bottom: 0;
  }
  .newsletter .info{
    margin-bottom: 0 !important;
  }
  .info h2{
    font-size: var(--h1);
  }
  .footer-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
  }
  footer .info{
    grid-column: 1 / 6;
  }
  footer form{
    grid-column: 6 / 13;
  }
  footer .info span{
    font-size: 2.888rem;
  }
  /* Message Delivered */
  .message-delivered, .unconfirmed, .confirmed{
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  /* Unconfirmed */
  .unconfirmed h2{
    margin-bottom: 2rem !important;
  }
  .unconfirmed p, .confirmed p{
    break-inside: avoid;
    margin-bottom: var(--p-s) !important;
  }
  .unconfirmed .text, .confirmed .text{
    columns: 2;
    text-align: left;
    margin-bottom: 2rem;
    gap: 2rem;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Reduced Motion */

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}