@font-face{
  font-family: 'Caprasimo';
  src: url('../fonts/caprasimo/Caprasimo-Regular.ttf') format('ttf'),
    url('../fonts/caprasimo/Caprasimo-Regular.woff2') format('woff2');
  font-style: normal;
  font-display: swap; 
}

@font-face{
  font-family: 'EB Garamond';
  src: url('../fonts/eb-garamond/EBGaramond-VariableFont_wght.ttf') format('ttf'),
    url('../fonts/eb-garamond/EBGaramond-VariableFont_wght.woff2') format('woff2');
  font-style: normal;
  font-display: swap;   
}

@font-face{
  font-family: 'EB Garamond';
  src: url('../fonts/eb-garamond/EBGaramond-Italic-VariableFont_wght.ttf') format('ttf'),
    url('../fonts/eb-garamond/EBGaramond-Italic-VariableFont_wght.woff2') format('woff2');
  font-style: italic;   
  font-display: swap;
}

:root{
  --dark: #000;
  --bright: #FFF;
  --text: #333;
  --martian-background: #F9F7F3;
  --martian-light-gray: #F4F4EE;
  --martian-mid-gray: #E9E7E0;
  --martian-dark-gray: #5F5C53;
  --martian-light-salmon: #FF8882;
  --martian-vivid-salmon: #FF5C54;
  --martian-light-purple: #E798F1;
  --martian-vivid-purple: #9E2EAD;
  --martian-purple: #75297F;
  --martian-dark-purple: #5B2467;

  --headings: 'Caprasimo', 'EB Garamond', serif;
  --headings-line-height: 112%;

  --h1-xxl: 3.25rem;
  --h1-xl: 2.563rem;
  --h1-l: 2.281rem;
  --h1: 2.025rem;
  --h2: 1.8rem;
  --h3: 1.6rem;
  --h4: 1.419rem;
  --h5: 1.281rem;
  --h6: 1.125rem;

  --paragraphs: 'EB Garamond', serif;
  --paragraphs-line-height: 150%;

  --p-xl: 2.026rem;
  --p-l: 1.8rem;
  --p-m: 1.6rem;
  --p-base: 1.375rem;
  --p-s: 1.262rem;
  --p-xs: 1.125rem;
  --p-xxs: 1rem;

  --thin: 100;
  --extralight: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 800;
  --black: 900;

  --fade: all .4s ease;
  --fade-in: fadeIn 3s;
}

*{
  box-sizing: border-box;
}


html{
  font-family: var(--paragraphs);
  background-color: var(--martian-background);
  color: var(--text);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
  scroll-behavior: smooth;
}

::selection, -moz-selection{
  color: var(--text);
  background-color: var(--martian-light-purple);
}

body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: swap;
}

.full-width, .boxed-width{
  padding: 0 1rem;
  margin: 0 auto;
}

.full-width{
  max-width: 1440px;
}

.boxed-width{
  max-width: 1216px;
}

/* Display Hidden */

.hidden-xs{
  display: none;
}

.visible-xs{
  display: block;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  font-family: var(--headings);
  line-height: var(--headings-line-height);
  font-weight: var(--regular);
}

h6{
  font-size: var(--h6);
  margin-bottom: var(--p-s);
}

h5{
  font-size: var(--h5);
  margin-bottom: var(--h6);
}

h4{
  font-size: var(--h4);
  margin-bottom: var(--h5);
}

h3{
  font-size: var(--h3);
  margin-bottom: var(--h4);
}

h2{
  font-size: var(--h2);
  margin-bottom: var(--h3);
}

h1{
  font-size: var(--h1);
  margin-bottom: var(--h2);
}

.h1-l{
  font-size: var(--h1-l);
  margin-bottom: var(--h1);
}

.h1-xl{
  font-size: var(--h1-xl);
  margin-bottom: var(--h1-l);
}

.h1-xxl{
  font-size: var(--h1-xxl);
  margin-bottom: var(--h1-xl);
}

p, li{
  margin: 0;
  font-family: var(--paragraphs);
  line-height: var(--paragraphs-line-height);
}

.p-xs{
  font-size: var(--p-xs);
  margin-bottom: var(--p-xxs);
}

.p-s{
  font-size: var(--p-s);
  margin-bottom: var(--p-xs)
}

ul.p-base{
  padding-left: var(--p-base);
  margin-bottom: var(--p-s);
}

.p-base, .p-base li{
  font-size: var(--p-base);
  margin-bottom: var(--p-s);
}

.p-base li{
  margin-bottom: 0;
}

.p-m{
  font-size: var(--p-m);
  margin-bottom: var(--p-base);
}

.p-l{
  font-size: var(--p-l);
  margin-bottom: var(--p-m);
}

.p-xl{
  font-size: var(--p-xl);
  margin-bottom: var(--p-l);
}

/* Buttons links */

a{
  text-decoration: none;
  border-bottom: 1px solid var(--martian-vivid-salmon);
  padding-bottom: .25rem;
  transition: var(--fade);
  font-weight: var(--bold);
  color: var(--martian-vivid-salmon);
  cursor: pointer;
}

a:hover{
  color: var(--text);
  text-decoration: none;
  border-bottom: 1px solid var(--text);
}

a:active{
  color: var(--martian-dark-purple);
  text-decoration: none;
}

button, .button{
  padding: 0;
  line-height: 1.3;
}

.button{
  border-bottom: none !important;
}

button, .button{
  font-size: var(--p-s);
  text-transform: uppercase;
  letter-spacing: 16%;
  font-family: var(--headings);
  font-weight: var(--regular);
  border: 2px solid transparent;
  border-radius: .25rem;
  color: var(--bright);
  background-color: var(--martian-vivid-salmon);
  padding: .75rem 1.25rem;
  margin: 0;
  cursor: pointer;
  transition: var(--fade);
  display: inline-flex;
  align-items: center;
}

button:hover, .button:hover, button:focus, .button:focus{
  background-color: var(--martian-vivid-purple);
  text-decoration: none;
  color: var(--martian-vivid-salmon);
}

.button:hover{
  border-bottom: none;
}

button:active, .button:active{
  background-color: var(--martian-light-purple);
  color: var(--bright);
}

a:focus, button:focus, .button:focus, input:focus, textarea:focus{
  outline: 2px dotted var(--text);
  outline-offset: 2px;
}

.button-xs{
  font-size: var(--p-xs);
  padding: .375rem .75rem .38rem .75rem;
}

.button-s{
  font-size: var(--p-s);
  padding: .5rem 1rem .5rem 1rem;
}

.button-base{
  font-size: var(--p-base);
  padding: .563rem 1.125rem;
}

.button-m{
  font-size: var(--p-m);
  padding: .688rem 1.375rem;
}

.button-l{
  font-size: var(--p-l);
  padding: .75rem 1.5rem;
}

.button-xl{
  font-size: var(--p-xl);
  padding: .875rem 1.75rem;
}

/* Form */

label{
  font-size: var(--p-xs);
  font-weight: var(--regular);
  font-family: var(--headings);
  display: block;
  text-transform: uppercase;
  letter-spacing: 16%;
  margin-bottom: .75rem;
}

input:not([type="checkbox"]):not([type="radio"]), textarea{
  display: block;
  width: 100%;
  margin-bottom: 1.5rem;
  padding: .75rem 1rem;
  font-family: var(--paragraphs);
  font-size: var(--p-base);
  color: var(--text);
  border: 1px solid transparent;
  border-bottom: 1px solid var(--text);
  transition: var(--fade);
  background-color: transparent;
}

input:focus, textarea:focus{
  background-color: var(--martian-background) !important;
  outline: 2px dotted var(--text);
}

textarea{
  resize: vertical;
  margin-bottom: 1.5rem;
  line-height: 150%;
}

label:has(+ input:focus-visible), label:has(+ textarea:focus-visible) {
  transition: var(--fade);
  color: var(--martian-vivid-purple);
}

.form-button{
  margin-bottom: 1rem;
}

.form-note{
  font-size: var(--p-s);
}

/* Page */

header{
  padding-top: 3rem !important;
}

.logo{
  margin-bottom: 2rem;
}

.logo span{
  font-size: 10rem;
}

header h1{
  margin-bottom: 1rem !important;
  background-color: var(--martian-light-salmon);
}

header h2{
  margin-bottom: 2rem !important;
}

.main-text{
  margin-bottom: 2rem;
}

.main-text p{
  font-size: var(--p-base);
  margin-bottom: var(--p-s);
  break-inside: avoid;
}

.first-column{
  break-inside: avoid;
}

.thanks-container{
  border-top: 1px solid var(--text);
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.thanks-container h2{
  margin-bottom: 0;
}

.smile{
  margin-bottom: 1rem;
}

.smile span{
  font-size: 6.438rem;
}

.newsletter{
  background-color: var(--martian-mid-gray);
  padding: 3rem 0;
}

.newsletter h2{
  margin-bottom: 1rem !important;
}

.p-note{
  margin-bottom: 0;
}

.newsletter button, footer button{
  margin-bottom: 1rem;
}

.mailbox-and-info{
  padding-bottom: 1rem;
}

.mailbox{
  margin-bottom: 1.5rem;
}

.mailbox span{
  font-size: 11.438rem;
}

.newsletter .info{
  margin-bottom: 2rem;
}

footer{
  padding-top: 4rem;
  padding-bottom: 6rem;
  background-color: var(--text);
  color: var(--martian-background);
}

footer h3{
  font-size: var(--h1);
  margin-bottom: 2rem !important;
}

footer input:not([type="checkbox"]):not([type="radio"]), footer textarea{
  border-bottom: 1px solid var(--martian-background);
  color: var(--martian-background);
}

footer input:focus, footer textarea:focus{
  background-color: var(--text) !important;
  outline: 2px dotted var(--martian-background);
}

footer label:has(+ input:focus-visible), footer label:has(+ textarea:focus-visible) {
  transition: var(--fade);
  color: var(--martian-light-purple);
}

/* Message delivered */

.message-delivered{
  display: flex;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
}

.message-delivered-container .smile, .confirmed-container .smile{
  margin-bottom: 1rem;
}

.message-delivered-container .smile span, .confirmed-container .smile span{
  font-size: 6.438rem;
}

.message-delivered-container h2, .unconfirmed-container h2, .confirmed-container h2{
  margin-bottom: 1rem !important;
}

.message-delivered-container p, .unconfirmed-container .text, .confirmed-container .text{
  margin-bottom: 1.5rem !important;
}

/* Unconfirmed */

.unconfirmed, .confirmed{
  padding-top: 3rem;
  padding-bottom: 6rem;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?tkomqn');
  src:  url('../fonts/icomoon/icomoon.eot?tkomqn#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?tkomqn') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?tkomqn') format('woff'),
    url('../fonts/icomoon/icomoon.svg?tkomqn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
  font-display: swap;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
  content: "\e900";
}
.icon-smile:before {
  content: "\e901";
}
.icon-mailbox:before {
  content: "\e902";
}
.icon-rss:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e904";
}