---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.lang }}">
  {% include head.html %}
<body>
  <main class="boxed-width">
    <section class="confirmed">
      <div class="confirmed-container">
        <div class="smile">
         <span class="icon icon-smile"></span>
        </div>
        <h2 class="h1-xl">¡Suscripción confirmada!</h2>
        <div class="text">
          <p class="p-base">Ya estás adentro. A partir de ahora recibirás en tu correo:</p>
          <ul class="p-base">
            <li>Noticias sobre ferias y eventos en los que participaré</li>
            <li>Si consigo food truck, local, o aprendo a hacer una comida más portátil te avisaré para que caigas</li>
            <li>Lanzamientos de obra gráfica</li>
            <li>Colaboraciones y sorpresas</li>
          </ul>
          <p class="p-base">Usaré tu correo únicamente para esto, no será compartido con nadie, y podrás cancelar tu suscripción en cualquier momento con solo unos clics.</p>
        </div>
        <a class="button button-base" href="/">Volver</a>    
      </div>
    </section>
  </main>
  {% include smallchat.html %} 
</body>  