---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.lang }}">
{% include head.html %}
  <body id="index">
    {% include alert.html %}
    {% include nav-mobile.html %}
    {% include nav.html %}
    <!-- Header Two Columns 01-->
    <header class="header-two-columns-01 full-width">
      {% include index-slideshow.html %}
      <!-- Text  -->
      <div class="header-text">
        <h1 class="h-xxl">{{ page.header-heading }}</h1>
        {{ page.content | markdownify | replace: '<p>', '<p class="p-base">' }}
        <a class="button button-l bright-inferno">{{ page.header-button }}</a>
      </div>  
    </header>
    <!-- Header Two Columns 01 end-->
    {% include location-and-hours.html %}

    <!-- Index Products -->
    <section class="index-products full-width">
      
      {% include index-products-slideshow.html %}

      <div class="index-products-container hidden-xs visible-sm visible-lg">
      {% for post in site.posts %}
      {% if post.featured == "true" %}
        <article class="product-card">
          <img 
          srcset="
            {{ post.image-xs }} 686w,
            {{ post.image-sm }} 696w,
            {{ post.image-lg }} 880w"
          sizes="
            (min-width: 1025px) 440px,
            (min-width: 641px) 348px,
            343px"
          src="{{ post.src }}"  
          alt="{{ post.alt }}"
          loading="lazy">
          <div class="product-card-info">
            <h3 clas="heading">{{ post.title }}</h3>
            {{ post.excerpt | markdownify | replace: '<p>', '<p class="p-xs">' }}
            <p class="p-m bold">${{ post.price }}</p>
            <nav>
              <ul>
                <li><a class="button button-s button-ghost">Detalles</a></li>
                {% if post.online == "true" %}
                <li><a class="button button-s">Comprar</a></li>
                {% else %}
                <li><a class="link link-xs">Sólo en sitio</a></li>
                {% endif %}
              </ul>  
            </nav>
          </div>
        </article> 
      {% endif %}
      {% endfor %}
      </div> 

      <a class="button button-l" href="#">Ver todos los productos</a>

    </section>
    <!-- Index Products End -->

    <!-- Newsletter -->
    <section class="newsletter">
      <div class="newsletter-container full-width">
        {% for item in site.posts-newsletter %}
        <img 
            srcset="
              {{ item.image-xs }} 686w,
              {{ item.image-sm }} 696w,
              {{ item.image-lg }} 880w"
            sizes="
              (min-width: 1025px) 440px,
              (min-width: 641px) 348px,
              343px"
            src="{{ item.src }}"  
            alt="{{ item.alt }}"
            loading="lazy">
        <div class="newsletter-info-and-form">
          <div class="newsletter-info">
            <h3>Suscríbete al boletín de correo para enterarte de novedades</h3>
            <p>O agrega el <a class="link">RSS <span class="icon icon-rss"></span></a></p>
          </div>
          <form method="post" action="https://buttondown.com/api/emails/embed-subscribe/latiendamarciana" class="embeddable-buttondown-form" referrerpolicy="unsafe-url" aria-labelledby="newsletter-form-heading">
            <label for="newsletter">Correo electrónico</label>
            <input type="email" name="email" id="newsletter" pattern=".{4,64}" autocomplete="on" oninvalid="this.setCustomValidity('Por favor escribe tu correo electrónico')" oninput="this.setCustomValidity('')" required>
            <button class="button-base" type="submit" aria-describedby="newsletter-note">Suscríbete</button> 
            <p class="note p-xs" id="newsletter-note">Al suscribirte me autorizas a enviarte boletines de correo. No usaré tu correo para otros fines, ni lo compartiré con terceros.</p>
            </div>
          </form>
        </div>
        {% endfor %}
      </div>   
    </section>

    <!-- Newsletter end -->

    {% include modal-nav.html %}

    {% include uikit-javascript.html %}

  </body>
</html>    
