---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.lang }}">
  {% include head.html %}
<body>
  <main class="boxed-width">
    <section class="message-delivered">
      <div class="message-delivered-container">
        <div class="smile">
         <span class="icon icon-smile"></span>
        </div>
        <h2 class="h1-xl">¡Mensaje recibido!</h2>
        <p class="p-base">Gracias por escribime. Te responderé lo más pronto posible.</p>
        <a class="button button-base" href="/">Volver</a>    
      </div>
    </section>
  </main>
  {% include smallchat.html %} 
</body>  