---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.lang }}">
{% include head.html %}
  <body>
    {% include alert.html %}
    {% include nav-mobile.html %}
    {% include nav.html %}

    <aside class="product-form-info">
      <img src="{{ page.src }}">
      <h1>Tu pedido</h1>
      <h2>{{ page.title }}</h2>
      {% for post in site.posts %}
      {% if post.title == page.title %}
      {{ post.content | markdownify | replace: '<p>', '<p class="p-s">' }}
      {% endif %}        
      {% endfor %} 
      {% for post in site.posts %}
      {% if post.title == page.title %}
      <div>
        <div class="product-options">
          {% if post.genders %}
          <div class="options-list">
            <p class="p-s bold">Género</p>
            <ul>
              {% for item in post.genders %}
              <li><p class="p-s">{{ item.gender }}</p></li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
          {% if post.colors %}
          <div class="options-list">
            <p class="p-s bold">Color</p>
            <ul>
              {% for item in post.colors %}
              <li><span class="color" style="background-color: {{ item.color }};" aria-label="{{ item.aria-label }}"></span></li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
          {% if post.sizes %}
          <div class="options-list">
            <p class="p-s bold">Talla</p>
            <ul>
              {% for item in post.sizes %}
              <li><p class="p-s">{{ item.size }}</p></li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </div>
        {% if post.genders or post.colors or post.sizes %}
          <div class="note">
            <p class="p-s">Recuerda las opciones que escojas al hacer tu pedido.</p>
          </div>  
        {% endif %}
        <p class="bold p-xl price">${{ post.price }}</p>
      </div>
      {% endif %}        
      {% endfor %}      
    </aside>

    <header>
      <h3>Todavía no tengo carrito de compra, debes especificar en el formulario las variables del producto. Si vas a pedir más de un producto, o más de una copia del mismo producto, puedes agregarlo en el mensaje.</h3>
      <p class="p-s">Confirmaré personalmente el pedido antes del cobro y el envío. Tus datos serán únicamente usados para este propósito y sólo serán compartidos los necesarios para hacer el envío con la empresa de envíos seleccionada.</p>
    </header>

    <main>
      
    </main>  

    {% include footer.html %}

    {% include modal-nav.html %}

    {% include modal-location.html %}

    {% include uikit-javascript.html %} 

  </body>
</html>    

