---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.lang }}">
{% include head.html %}
  <body>
    {% include alert.html %}
    {% include nav-mobile.html %}
    {% include nav.html %}

    <div class="product-order-container full-width"> 

      <aside class="product-order-info-container">
        <div class="product-order-info">      
          <img src="{{ page.src }}">
          <div class="product-order-info-header">
            <h2>{{ page.title }}</h2>
            <div class="product-order-info-text hidden-xs visible-sm visible-lg">
            {% for post in site.posts %}
            {% if post.title == page.title %}
            {{ post.content | markdownify | replace: '<p>', '<p class="p-s">' }}
            {% endif %}        
            {% endfor %}
            </div>
            <div class="product-options-container hidden-xs visible-sm visible-lg">
              {% for post in site.posts %}
              {% if post.title == page.title %}
              <div class="product-options">
                {% if post.genders %}
                <div class="options-list">
                  <p class="p-s bold">Género</p>
                  <ul>
                    {% for item in post.genders %}
                    <li><p class="p-s">{{ item.gender }}</p></li>
                    {% endfor %}
                  </ul>
                </div>
                {% endif %}
                {% if post.colors %}
                <div class="options-list">
                  <p class="p-s bold">Color</p>
                  <ul>
                    {% for item in post.colors %}
                    <li><span class="color" style="background-color: {{ item.color }};" aria-label="{{ item.aria-label }}" uk-tooltip="title: {{ item.aria-label }}; pos: left"></span></li>
                    {% endfor %}
                  </ul>
                </div>
                {% endif %} 
                {% if post.sizes %}
                <div class="options-list">
                  <p class="p-s bold">Talla</p>
                  <ul>
                    {% for item in post.sizes %}
                    <li><p class="p-s">{{ item.size }}</p></li>
                    {% endfor %}
                  </ul>
                </div>
                {% endif %}                                              
              </div>
              <p class="bold p-xl price">${{ post.price }} + envío</p>  
              {% endif %}
              {% endfor %}
            </div>           
          </div>
          <div class="product-order-info-text visible-xs hidden-sm hidden-lg">
            {% for post in site.posts %}
            {% if post.title == page.title %}
            {{ post.content | markdownify | replace: '<p>', '<p class="p-s">' }}
            {% endif %}        
            {% endfor %}
          </div>
          <div class="product-options-container visible-xs hidden-sm hidden-lg">
            {% for post in site.posts %}
            {% if post.title == page.title %}
            <div class="product-options">
              {% if post.genders %}
              <div class="options-list">
                <p class="p-s bold">Género</p>
                <ul>
                  {% for item in post.genders %}
                  <li><p class="p-s">{{ item.gender }}</p></li>
                  {% endfor %}
                </ul>
              </div>
              {% endif %}
              {% if post.colors %}
              <div class="options-list">
                <p class="p-s bold">Color</p>
                <ul>
                  {% for item in post.colors %}
                  <li><span class="color" style="background-color: {{ item.color }};" aria-label="{{ item.aria-label }}" uk-tooltip="title: {{ item.aria-label }}; pos: left"></span></li>
                  {% endfor %}
                </ul>
              </div>
              {% endif %} 
              {% if post.sizes %}
              <div class="options-list">
                <p class="p-s bold">Talla</p>
                <ul>
                  {% for item in post.sizes %}
                  <li><p class="p-s">{{ item.size }}</p></li>
                  {% endfor %}
                </ul>
              </div>
              {% endif %}                                              
            </div>
            <p class="bold p-xl price"><a href="#product-form">${{ post.price }} + envío</a></p>  
            {% endif %}
            {% endfor %}
          </div>        
        </div>           
      </aside>

      <div class="product-order" id="product-form">
      <header>
        <h2>Completa las opciones en el formulario. Si quieres pedir más de un producto, o más de una unidad del mismo, indícalo en el campo de mensaje.</h2>
        <p class="p-s">El pedido será confirmado personalmente antes del cobro y el envío. Los datos proporcionados se utilizarán exclusivamente para esta finalidad y solo se compartirán aquellos necesarios para gestionar el envío con la empresa de mensajería seleccionada.</p>
      </header>

      <main>
        <h3 id="order-form-heading">Completa este formulario para hacer tu pedido</h3>
        {% for post in site.posts %}
        {% if post.title == page.title %}
        <h4>Opciones para {{ post.title }}:</h4>
        {% endif %}        
        {% endfor %}
        <form method="post" action="https://formsubmit.co/latiendamarciana@pm.me" aria-labelledby="order-form-heading" class="order-form">
          <input type="hidden" name="_next" value="https://latiendamarciana.com/pedido-recibido/">
          {% for post in site.posts %}
          {% if post.title == page.title %}
          <input type="hidden" name="_subject" value="¡Pedido de {{ post.title }}!">
          {% endif %}        
          {% endfor %}
          <input type="hidden" name="_cc" value="tiendamarciana@proton.me">
          {% for post in site.posts %}
          {% if post.title == page.title %}
            {% if post.genders %}
            <fieldset>
              <legend>Género</legend>
              <div class="radio-buttons-container">
                {% for item in post.genders %}
                <div class="radio-button-container">
                  <input id="{{ item.gender }}" type="radio" name="gender" value="{{ item.gender }}" class="radio-button-xs">
                  <label for="{{ item.gender }}" class="p-xs bold checkbox-label">{{ item.gender }}</label>
                </div> 
                {% endfor %}
              </div>
            </fieldset> 
            {% endif %}
            {% if post.colors %}
            <fieldset>
              <legend>Color</legend>
              <div class="radio-buttons-container">
                {% for item in post.colors %}
                <div class="radio-button-container">
                  <input id="{{ item.id }}" type="radio" name="color" value="{{ item.aria-label }}" class="radio-button-xs" style="--radio-color: {{ item.color }};">
                  <label for="{{ item.id }}" class="p-xs bold checkbox-label">{{ item.aria-label }}</label>
                </div> 
                {% endfor %}
              </div>
            </fieldset> 
            {% endif %}
            {% if post.sizes %}
            <fieldset>
              <legend>Talla</legend>
              <div class="radio-buttons-container">
                {% for item in post.sizes %}
                <div class="radio-button-container">
                  <input id="{{ item.size }}" type="radio" name="size" value="{{ item.size }}" class="radio-button-xs">
                  <label for="{{ item.size }}" class="p-xs bold checkbox-label">{{ item.size }}</label>
                </div> 
                {% endfor %}
              </div>
            </fieldset> 
            {% endif %}          
          {% endif %}        
          {% endfor %}
          <fieldset class="user-info">
            <legend>Tu información:</legend>
            <label for="name">Nombre</label>
            <input required type="text" name="name" id="name" autocomplete="on" oninvalid="this.setCustomValidity('Por favor escribe tu nombre')" oninput="this.setCustomValidity('')">
            <label for="phone">Celular</label>
            <input required type="tel" name="phone" id="phone" pattern=".{7,}" autocomplete="on" oninvalid="this.setCustomValidity('Por favor escribe tu número de teléfono celular')" oninput="this.setCustomValidity('')">
            <label for="email">Correo electrónico</label>
            <input required type="email" name="email" id="email" pattern=".{4,64}" autocomplete="on" oninvalid="this.setCustomValidity('Por favor escribe tu correo electrónico')" oninput="this.setCustomValidity('')">
            <label for="email">Municipio (Sólo dentro del territorio colombiano)</label>
            <input required type="text" name="town" id="town" pattern=".{3,30}" autocomplete="on" oninvalid="this.setCustomValidity('Escribe el nombre de tu municipio')" oninput="this.setCustomValidity('')">
            <label for="email">Dirección</label>
            <input required type="text" name="address" id="address" pattern=".{3,30}" autocomplete="on" oninvalid="this.setCustomValidity('Escribe tu dirección')" oninput="this.setCustomValidity('')">
            <label for="message">Mensaje (opcional)</label>
            <textarea name="message" id="message" rows="4" pattern=".{4,}" oninvalid="this.setCustomValidity('Por favor escribe un mensaje')" oninput="this.setCustomValidity('')" placeholder="Hola, quiero hacer un pedido de... "></textarea>
          </fieldset>
          <div class="button-and-note">
            <button type="submit" aria-describedby="form-note">{{ site.buy-button }}</button>
            <p class="note p-s" id="form-note">Recuerda dejar tus datos reales para poder contactarte respecto a tu pedido. Sólo los usaré con ese fin.</p>
          </div>
        </form>
      </main>
      </div>

    </div>      

    {% include footer.html %}

    {% include modal-nav.html %}

    {% include modal-location.html %}

    {% include uikit-javascript.html %} 

  </body>
</html>    

