<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <!-- wrapper -->
    <div class="wrapper container-fluid">
      
      <div uk-filter="target: .js-filter">

        <!-- row -->
        <ul class="row">
          <li class="uk-active" uk-filter-control><a href="#">Todos</a></li>
          {% for product in site.products %}
            <li uk-filter-control=".{{ product.categories | join: ' .' }}"><a href="#">{{ product.categories }}</a></li>
          {% endfor %}
        </ul>
        <!-- row end -->
        <!-- row -->
        <ul class="js-filter row">
          <!-- col -->
          {% for product in site.products %}
          <li class="{{ product.categories }} col-lg-3">
            <a uk-toggle="target: #{{ product.modal }}">
              <figure>
                <img src="{{ product.image }}" alt="{{ product.title }}">
              </figure>
            </a>
            <h3>{{ product.title }}</h3>
            <p>{{ product.price }}</p>
          </li>
          <div id="{{ product.modal }}" class="uk-modal-full" uk-modal>
            <div class="uk-modal-dialog">
                <h3>{{ product.title }}</h3>
                <a class="uk-modal-close modal-close" uk-close><span class="icon icon-close" type="button"></span></a>
            </div>
          </div>  
          {% endfor %}
          <!-- col end -->
        </ul>
        <!-- row end -->


      </div>

    </div>

    <!-- wrapper end -->

    {%- include footer.html -%}

  </body>

</html>