---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.lang }}">
{% include head.html %}
  <body id="store">
    {% include alert.html %}
    {% include nav-mobile.html %}
    {% include nav.html %}

    <!-- Store header -->
    <header class="full-width">
      <figure>
        <img src="/assets/images/tienda/hero-tienda.jpg" alt="foto de una repisa con libros">
      </figure>
      <h1 class="visible-xs visible-sm hidden-lg">{{ page.heading }}</h1>
      <h1 class="h-l hidden-xs hidden-sm visible-lg">{{ page.heading }}</h1>  
    </header>
    <!-- Store header end -->


<!--     <div class="full-width">
      <div>
        <h5>Categorías</h5>
        <ul>
          {% for category in site.categories %}
            <li>{{ category }}</li>
          {% endfor %}
        </ul>
      </div>
      <div>--------</div>
      <div>
        <h5>Productos</h5>
        <ul>
          {% for post in site.posts %}
            <li>{{ forloop.index }}. {{ post.title }}</li>
          {% endfor %}
        </ul>
      </div>
      <div>--------</div>
      <div>
        <h5>Noticias</h5>
        <ul>
          {% for item in site.posts-news %}
            <li>{{ forloop.index }}. {{ item.title }}</li>
          {% endfor %}
        </ul>
      </div>
      <div>--------</div>
      <div>
        <h5>Cantidad de productos por categoría</h5>
        <ul>
          <li>Todos: {{ site.categories | size }}</li>
          <li>Comida a base de plantas: {{ site.categories['Comida a base de plantas'] | size }}</li>
          <li>Obra gráfica: {{ site.categories['Obra gráfica'] | size }}</li>
        </ul>
      </div>
      <div>--------</div>
      <div>
        <h5>Posts con paginador</h5>
        <div>
          <ul>
            {% for post in site.posts %}
              {% if forloop.index <= 1 %}
              <li>{{ forloop.index }}. {{ post.title }}</li>
              {% endif %}
            {% endfor %}
          </ul>
          <p class="p-base"><a uk-toggle="target: #another; animation: uk-animation-fade">Otro producto</a></p>
        </div>
        <div id="another" hidden>
          <ul>
            {% for post in site.posts %}
              {% if forloop.index > 1 and forloop.index < 3 %}
              <li>{{ forloop.index }}. {{ post.title }}</li>
              {% endif %}
            {% endfor %}
          </ul>
          <p class="p-base"><a uk-toggle="target: #another-2; animation: uk-animation-fade">Otro producto 2</a></p>
        </div>
        <div id="another-2" hidden>
          <ul>
            {% for post in site.posts %}
              {% if forloop.index > 2 and forloop.index < 4 %}
              <li>{{ forloop.index }}. {{ post.title }}</li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>  
      </div> 
      <div>---------</div>    
    </div>
     -->

    {% include footer.html %}

    {% include modal-nav.html %}

    {% include modal-location.html %}

    {% include uikit-javascript.html %}

  </body>
</html>