---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.lang }}">
{% include head.html %}
  <body id="store">
    {% include alert.html %}
    {% include nav-mobile.html %}
    {% include nav.html %}

    <!-- Store header -->
    <header class="full-width">
      <figure>
        <img src="/assets/images/tienda/hero-tienda.jpg" alt="foto de una repisa con libros">
      </figure>
      <h1 class="visible-xs visible-sm hidden-lg">{{ page.heading }}</h1>
      <h1 class="h-l hidden-xs hidden-sm visible-lg">{{ page.heading }}</h1>  
    </header>
    <!-- Store header end -->

    <div class="full-width">
      <div>
        <h5>Categorías</h5>
        <ul>
          {% for category in site.categories %}
            <li>{{ category | first }}</li>
          {% endfor %}
        </ul>
      </div>
      <div>--------</div>
    </div>  

    {% include footer.html %}

    {% include modal-nav.html %}

    {% include modal-location.html %}

    {% include uikit-javascript.html %}

  </body>
</html>