---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.lang }}">
  {% include head.html %}
<body>
  <main class="boxed-width">
    <section class="unconfirmed">
      <div class="unconfirmed-container">
        <div class="mailbox">
         <span class="icon icon-mailbox"></span>
        </div>
        <h2 class="h1-xl">Gracias por suscribirte a La Tienda Marciana</h2>
        <div class="text">
          <p class="p-base">Solo falta un paso: revisa tu bandeja de entrada y confirma tu suscripción haciendo clic en el enlace que te envié.</p>
          <p class="p-base">Si no lo encuentras en unos minutos, revisa la carpeta de spam o correo no deseado.</p>
          <p class="p-base">Si no te llegó, intenta de nuevo haciendo clic aquí, o escribe a <a href="mailto:lateindamarciana@pm.me">latiendarmarciana@pm.me</a> para solicitar tu inscripción manual.</p>
        </div>
        <a class="button button-base" href="/">Volver</a>    
      </div>
    </section>
  </main>
  {% include smallchat.html %} 
</body>  